* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
a:hover,
a:active,
a:focus,
a:visited {
  color: #d6d6d6;
}
a:hover {
  text-decoration: none;
}
a:not(:hover) {
  text-decoration: underline;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #050610;
  color: #b8b8b8;

  /* The "system" font stack. No extra downloaded fonts */
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #282b3b;
  padding: 0.5em;
  flex-wrap: wrap;
}

header a:not(.keep-underline) {
  text-decoration: none !important;
}

.page-title {
  flex-grow: 1;
}

.page-title h1 {
  font-weight: 400;
  margin: 0.5em;
}

h1.main-title,
h1.page-title {
  color: #e2e2e2;
}

.site-title {
  text-align: center;
  font-size: 1.5em;
}

nav ul {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.6em;
  justify-content: center;
  gap: 0.5em;
}

nav li {
  height: 5em;
  width: 5em;
  padding: 0.5em;
  transform: scale(1);
  transition: transform ease-out 0.2s;
  text-align: center;
}

nav li:hover {
  transform: scale(1.1);
}

nav li p {
  margin: 0;
}

nav li p.small {
  font-size: 0.8em;
  padding-top: 0.3em;
}

nav a {
  width: 100%;
  height: 100%;
  text-decoration: none !important;
}

nav svg {
  height: 2em;
  width: 2em;
}

nav .current {
  background-color: #282b3b;
}

nav.fullsize {
  font-size: 3em;
}

nav.standalone {
  margin: 2rem 0;
}

main {
  margin: 0 auto;
  padding: 1.5em;
  max-width: 72rem;
  flex-grow: 1;
}

footer {
  font-size: 0.8em;
  border-top: 1px solid #282b3b;
  opacity: 0.5;
}

footer p {
  margin: 0.1em;
  text-align: center;
}

article {
  margin: 0.2em 0;
  padding: 0.2em 0;
}
article:not(:last-child) {
  border-bottom: 1px solid #282b3b;
}

kbd {
  background-color: #282b3b;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
}

.main-title {
  font-size: 2em;
  font-weight: 400;
}

.intro-title {
  font-size: 1.4em;
  font-weight: 400;
}

.step-title {
  color: #050610;
  background-color: #fff;
  border-radius: 0.5em;
  padding: 0.1em 0.5em;
  display: inline-block;
  font-weight: 500;
  font-size: 1.2em;
  margin: 0.5em 0;
}

.step {
  display: flex;
  flex-direction: column;
}

.step-diagram {
  max-height: 50vh;
  text-align: center;
}

.step-diagram svg {
  width: 100%;
  height: 100%;
  max-height: inherit;
}

.svg-outline,
.svg-outline-dark {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
}
.svg-outline-dark {
  stroke: #050610;
}

.svg-fill {
  fill: #f1f2f2;
}
.svg-fill-mid {
  fill: #282b3b;
}
.svg-fill-dark {
  fill: #050610;
}

@media screen and (min-device-width: 440px) {
  .site-title {
    font-size: 2em;
  }

  nav ul {
    font-size: 0.7em;
  }
}

@media screen and (min-device-width: 768px) {
  :root {
    font-size: 1.1rem;
  }

  .site-title {
    font-size: 3em;
  }

  .step {
    flex-direction: row;
  }

  .step-half {
    width: 50%;
  }

  nav ul {
    font-size: 0.8em;
  }
}
